<a href="https://colab.research.google.com/github/ggnanaraj/Story/blob/main/Stock0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [66]:
pip install nselib

Requirement already satisfied: nselib in /usr/local/lib/python3.10/dist-packages (0.7)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from nselib) (2.31.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from nselib) (1.5.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from nselib) (1.11.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->nselib) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->nselib) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->nselib) (1.25.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->nselib) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->nselib) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->nselib) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->nselib) (2024.2.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->nselib) (1.16.0)

In [67]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.25.2)

In [68]:
import numpy as np

In [12]:
import nselib
#data = nselib.trading_holiday_calendar()
#print(data)

In [13]:
from nselib import capital_market

In [ ]:
data=capital_market.bhav_copy_with_delivery("01-03-2024")
print(data.columns)

Index(['SYMBOL', 'SERIES', 'OPEN_PRICE', 'HIGH_PRICE', 'LOW_PRICE',
       'CLOSE_PRICE', 'PREV_CLOSE', 'TTL_TRD_QNTY', 'TURNOVER_LACS',
       'NO_OF_TRADES', 'DELIV_QTY', 'DELIV_PER', 'DATE1'],
      dtype='object')

In [ ]:
#data1=data('SYMBOL','OPEN_PRICE','HIGH_PRICE','LOW_PRICE','CLOSE_PRICE','PREV_CLOSE','TTL_TRD_QNTY','DELIV_PER')
data1=data.loc[1:,['SYMBOL','OPEN_PRICE','HIGH_PRICE','LOW_PRICE','CLOSE_PRICE','PREV_CLOSE','TTL_TRD_QNTY','DELIV_PER']]
data1['GAP_UP']=(((data1['OPEN_PRICE']-data1['PREV_CLOSE'])/data1['PREV_CLOSE'])*100).round(2)

In [ ]:
import nselib
from nselib import capital_market
data=capital_market.bhav_copy_with_delivery("07-03-2024")
data1=data.loc[1:,['SYMBOL','OPEN_PRICE','HIGH_PRICE','LOW_PRICE','CLOSE_PRICE','PREV_CLOSE']]
data1['GAP_UP']=(((data1['OPEN_PRICE']-data1['PREV_CLOSE'])/data1['PREV_CLOSE'])*100).round(2)
data1['TTL_TRD_QNTY']=0
data1['DELIV_PER']=0

#data1=data1[data1['DELIV_PER'] != "-"]
data_5PC_GAP_UP=data1[data1['GAP_UP'] > 5]     # gap greater than 5
data_5PC_GAP_UP=data_5PC_GAP_UP.sort_values(by=['GAP_UP'],ascending=False)
data_PC=data_5PC_GAP_UP[data_5PC_GAP_UP['PREV_CLOSE'] > 10] # only share value above Rs10
data_PC.drop_duplicates(subset='SYMBOL',keep='first',inplace=True) # drop duplicate
data_PC=data_PC.sort_values(by=['SYMBOL'])
list_SYM=data_PC['SYMBOL'].to_list()
list_SYM.sort()
#---------------------------------
dataO=capital_market.bhav_copy_with_delivery("06-03-2024")
data1O=dataO.loc[1:,['SYMBOL','TTL_TRD_QNTY','DELIV_PER']]
data1O=data1O[data1O['DELIV_PER'] != "-"]
data2O=data1O[data1O['SYMBOL'].isin(list_SYM)]# list_SYM or data_PC or list_PC
data2O.drop_duplicates(subset='SYMBOL',keep='first',inplace=True) # drop duplicate
data2O=data2O.sort_values(by=['SYMBOL'])
listO_SYM=data2O['SYMBOL'].to_list()
listO_SYM.sort()
#---------------------------
list_comn=[symbol for symbol in list_SYM if symbol in listO_SYM]
list_diff=[symbol for symbol in list_SYM if symbol not in listO_SYM]
list_indexDel=[]
data_PC1= data_PC
for i in list_diff:
  list_1=data_PC.index[data_PC['SYMBOL'] == i ].to_list()
  data_PC1.drop(list_1, inplace=True) # drops row which is not common
  list_indexDel.extend(list_1)
for j,k in enumerate(list_comn):
  PC1=data2O.loc[data2O['SYMBOL']==list_comn[j],'TTL_TRD_QNTY']
  data_PC1.loc[data_PC1['SYMBOL']==list_comn[j],'TTL_TRD_QNTY']= int(PC1)
  PC1=data2O.loc[data2O['SYMBOL']==list_comn[j],'DELIV_PER']
  data_PC1.loc[data_PC1['SYMBOL']==list_comn[j],'DELIV_PER']= float(PC1)

#data2 = capital_market.price_volume_and_deliverable_position_data(symbol='SBIN', from_date='29-02-2024', to_date='01-03-2024')
#data3=capital_market.equity_list( )
data_VOL=data_PC1[data_PC1['TTL_TRD_QNTY'] > 50000] #Quantity greater than 50000
data_VOL=data_VOL[data_VOL['DELIV_PER'] != "-"]
#data_VOL=data_VOL[data_VOL['DELIV_PER'] > 20]  #
#data_VOL=data_VOL[data_VOL['DELIV_PER'] < 90]
list_N=data_VOL['SYMBOL'].to_list()
data_VOL['GAP_down']=(((data_VOL['HIGH_PRICE']-data_VOL['LOW_PRICE'])/data_VOL['HIGH_PRICE'])*100).round(2)
data_VOL['INT_Hike']=(((data_VOL['HIGH_PRICE']-data_VOL['OPEN_PRICE'])/data_VOL['OPEN_PRICE'])*100).round(2)
data_VOL

In [71]:
#print(len(data_PC1))
#print(len(data2O))
data_VOL1=[]
Hi_Max1=[]
Hi_Min1=[]
Hi_Ave1=[]
Lo_Max1=[]
Lo_Min1=[]
Lo_Ave1=[]
for i in range(len(list_N)):
  data_T=capital_market.price_volume_data(list_N[i],period='1M').tail(14)
  print(data_T)
  #-------------------------------------------------
  data_Tr=data_T[:-1]
  data_Tr= data_Tr.tail(7)
  Hi_Max=data_Tr['HighPrice'].max()
  Hi_Min=data_Tr['HighPrice'].min()
  '''for k in range(len(data_Tr['HighPrice'])):
    data_Tr['HighPrice'].iloc[k]=data_Tr['HighPrice'].iloc[k].replace(",","")'''
  #data_Tr['HighPrice']=data_Tr['HighPrice'].astype('string')
  #data_Tr['HighPrice']=data_Tr['HighPrice'].astype(float)
  #

  Hi_Ave=data_Tr['HighPrice'].mean().astype(int)

  #Hi_Ave=data_Tr['HighPrice'].mean()

  Lo_Max=data_Tr['LowPrice'].max()
  Lo_Min=data_Tr['LowPrice'].min()
  '''for l in range(len(data_Tr['LowPrice'])):
    data_Tr['LowPrice'].iloc[l]=data_Tr['LowPrice'].iloc[l].replace(",","")
  #print(data_Tr['HighPrice'])
  data_Tr['LowPrice']=data_Tr['LowPrice'].astype('string')
  data_Tr['LowPrice']=data_Tr['LowPrice'].astype(float)
  Lo_Ave=data_Tr['LowPrice'].mean().astype(int)'''

 #Lo_Ave=data_Tr['LowPrice'].mean()
  #-------------------------------------------------
  data_T=data_T['TotalTradedQuantity'].astype('string')
  for j in range(len(data_T)):
    data_T.iloc[j]=data_T.iloc[j].replace(",","")
  data_T=data_T.astype(int)
  data_T = data_T[:-1]
  #print(data_T)
  data_T1=data_T.mean(skipna=True).astype(int)
  data_VOL1.append(data_T1)
  Hi_Max1.append(Hi_Max)
  #Hi_Ave1.append(Hi_Ave)
  Hi_Min1.append(Hi_Min)
  Lo_Max1.append(Lo_Max)
  #Lo_Ave1.append(Lo_Ave)
  Lo_Min1.append(Lo_Min)
data_VOL['Ave_QNTY']= data_VOL1
data_VOL['Hi_Max']= Hi_Max1
#data_VOL['Hi_Ave']= Hi_Ave1
data_VOL['Hi_Min']= Hi_Min1
data_VOL['Lo_Max']= Lo_Max1
#data_VOL['Lo_Ave']= Lo_Ave1
data_VOL['Lo_Min']= Lo_Min1
#data_VOL
#list_comn[1]

"""data_T=capital_market.price_volume_data(list_comn[1],period='1M').tail(14)
data_T=data_T['TotalTradedQuantity'].astype('string')
for i in range(len(data_T)):
  data_T.iloc[i]=data_T.iloc[i].replace(",","")
data_T=data_T.astype(int)
data_T.mean(skipna=True).astype(int)"""

   Symbol Series         Date PrevClose OpenPrice HighPrice  LowPrice  \
7     NaN     EQ  20-Feb-2024  2,058.65  2,053.95  2,099.95  2,018.00
8     NaN     EQ  21-Feb-2024  2,036.95  2,036.95  2,110.00  2,018.20
9     NaN     EQ  22-Feb-2024  2,060.45  2,101.95  2,255.00  2,045.45
10    NaN     EQ  23-Feb-2024  2,239.05  2,265.00  2,419.00  2,220.00
11    NaN     EQ  26-Feb-2024  2,362.15  2,350.00  2,625.00  2,350.00
12    NaN     EQ  27-Feb-2024  2,572.30  2,620.00  2,679.95  2,529.10
13    NaN     EQ  28-Feb-2024  2,549.35  2,564.00  2,587.95  2,430.00
14    NaN     EQ  29-Feb-2024  2,490.75  2,488.00  2,547.75  2,405.00
15    NaN     EQ  01-Mar-2024  2,484.35  2,495.05  2,699.90  2,471.30
16    NaN     EQ  02-Mar-2024  2,662.95  2,704.00  2,796.05  2,703.00
17    NaN     EQ  04-Mar-2024  2,796.05  2,800.00  3,080.00  2,799.00
18    NaN     EQ  05-Mar-2024  2,894.10  2,930.00  2,939.85  2,635.10
19    NaN     EQ  06-Mar-2024  2,669.90  2,709.90  2,799.00  2,568.65
20    NaN     EQ  07-Mar-2024  2,634.40  2,797.70  2,797.70  2,665.00

   LastPrice ClosePrice AveragePrice TotalTradedQuantity Turnover No.ofTrades  \
7   2,049.05   2,036.95     2,055.74            2,55,189      NaN      23,507
8   2,054.00   2,060.45     2,063.29            2,74,446      NaN      28,234
9   2,245.25   2,239.05     2,177.62           16,48,007      NaN    1,06,412
10  2,358.00   2,362.15     2,355.30           25,47,512      NaN    1,44,591
11  2,609.00   2,572.30     2,505.19           24,64,376      NaN    1,34,157
12  2,564.00   2,549.35     2,598.47           20,48,941      NaN    1,11,716
13  2,481.80   2,490.75     2,499.93            7,03,132      NaN      52,148
14  2,456.00   2,484.35     2,483.53            2,89,201      NaN      18,974
15  2,699.00   2,662.95     2,603.61            8,98,910      NaN      47,171
16  2,796.05   2,796.05     2,783.46            1,27,552      NaN       7,147
17  2,942.00   2,894.10     2,967.31           18,80,574      NaN    1,23,250
18  2,710.00   2,669.90     2,748.78            6,94,807      NaN      52,846
19  2,673.00   2,634.40     2,648.41            4,10,898      NaN      37,461
20  2,700.00   2,698.10     2,705.87            3,12,456      NaN      23,734

   ï»¿"Symbol"        Turnoverâ¹
7   DATAPATTNS    52,46,02,223.70
8   DATAPATTNS    56,62,62,047.85
9   DATAPATTNS  3,58,87,32,833.10
10  DATAPATTNS  6,00,01,49,435.75
11  DATAPATTNS  6,17,37,38,617.55
12  DATAPATTNS  5,32,41,09,626.00
13  DATAPATTNS  1,75,77,83,752.65
14  DATAPATTNS    71,82,38,605.70
15  DATAPATTNS  2,34,04,11,194.75
16  DATAPATTNS    35,50,36,038.25
17  DATAPATTNS  5,58,02,44,008.60
18  DATAPATTNS  1,90,98,73,912.10
19  DATAPATTNS  1,08,82,27,672.00
20  DATAPATTNS    84,54,64,962.25
   Symbol Series         Date  PrevClose  OpenPrice  HighPrice  LowPrice  \
7     NaN     BE  20-Feb-2024     182.05     187.95     191.15    185.70
8     NaN     BE  21-Feb-2024     191.10     195.00     196.00    185.00
9     NaN     BE  22-Feb-2024     187.20     186.00     192.90    181.30
10    NaN     BE  23-Feb-2024     188.20     188.20     189.00    178.80
11    NaN     BE  26-Feb-2024     185.50     185.00     189.40    180.00
12    NaN     BE  27-Feb-2024     186.50     189.50     190.00    181.25
13    NaN     BE  28-Feb-2024     185.15     185.15     189.00    175.90
14    NaN     BE  29-Feb-2024     180.10     180.10     189.10    173.50
15    NaN     BE  01-Mar-2024     187.25     194.00     196.60    190.10
16    NaN     EQ  02-Mar-2024     196.60     199.90     206.40    197.55
17    NaN     EQ  04-Mar-2024     205.80     208.05     208.05    181.20
18    NaN     EQ  05-Mar-2024     192.35     192.10     192.10    183.05
19    NaN     EQ  06-Mar-2024     186.70     186.00     186.00    157.00
20    NaN     EQ  07-Mar-2024     172.75     188.00     188.00    176.50

    LastPrice  ClosePrice  AveragePrice TotalTradedQuantity Turnover  \
7      190.00      191.10        190.94            1,66,192      NaN
8      188.50      187.20        189.52              53,916      NaN
9      187.90      188.20        189.56              56,449      NaN
10     186.00      185.50        183.62              34,622      NaN
11     189.40      186.50        184.53              50,112      NaN
12     186.70      185.15        185.63              26,689      NaN
13     180.00      180.10        179.82              45,581      NaN
14     188.00      187.25        185.34              68,975      NaN
15     196.60      196.60        195.47            2,63,773      NaN
16     206.40      205.80        202.38              85,017      NaN
17     192.85      192.35        192.58            2,86,851      NaN
18     185.95      186.70        187.37              62,839      NaN
19     174.50      172.75        169.03            3,24,877      NaN
20     177.15      178.45        181.21            2,76,346      NaN

   No.ofTrades ï»¿"Symbol"     Turnoverâ¹
7          508    GPTINFRA  3,17,32,513.90
8          534    GPTINFRA  1,02,18,137.15
9          338    GPTINFRA  1,07,00,585.40
10         344    GPTINFRA    63,57,339.85
11         318    GPTINFRA    92,47,365.85
12         285    GPTINFRA    49,54,171.90
13         320    GPTINFRA    81,96,388.40
14         546    GPTINFRA  1,27,83,735.85
15         922    GPTINFRA  5,15,60,980.55
16         786    GPTINFRA  1,72,05,939.45
17       2,553    GPTINFRA  5,52,41,084.75
18       1,053    GPTINFRA  1,17,74,287.15
19      12,027    GPTINFRA  5,49,15,086.60
20      12,740    GPTINFRA  5,00,75,578.80
   Symbol Series         Date  PrevClose  OpenPrice  HighPrice  LowPrice  \
7     NaN     EQ  20-Feb-2024     386.15     391.50     397.70    382.20
8     NaN     EQ  21-Feb-2024     384.40     386.35     393.00    374.00
9     NaN     EQ  22-Feb-2024     376.00     378.00     384.20    369.25
10    NaN     EQ  23-Feb-2024     380.85     382.70     390.00    381.55
11    NaN     EQ  26-Feb-2024     385.05     386.80     393.00    375.00
12    NaN     EQ  27-Feb-2024     376.05     378.00     382.00    366.45
13    NaN     EQ  28-Feb-2024     370.10     370.05     373.10    353.00
14    NaN     EQ  29-Feb-2024     355.45     355.50     375.00    348.10
15    NaN     EQ  01-Mar-2024     371.85     375.70     379.55    365.25
16    NaN     EQ  02-Mar-2024     367.45     368.85     374.85    365.00
17    NaN     EQ  04-Mar-2024     366.90     368.80     371.95    361.25
18    NaN     EQ  05-Mar-2024     367.30     367.75     385.00    365.80
19    NaN     EQ  06-Mar-2024     378.25     378.25     379.45    358.05
20    NaN     EQ  07-Mar-2024     362.05     398.00     398.00    368.00

    LastPrice  ClosePrice  AveragePrice TotalTradedQuantity Turnover  \
7      385.85      384.40        390.90           15,91,082      NaN
8      377.00      376.00        383.20            9,27,685      NaN
9      380.10      380.85        378.68            6,25,309      NaN
10     387.00      385.05        385.76            5,47,044      NaN
11     377.00      376.05        385.37           11,52,870      NaN
12     369.70      370.10        373.78            5,46,930      NaN
13     358.00      355.45        361.35            6,89,090      NaN
14     371.30      371.85        363.70           12,26,902      NaN
15     369.00      367.45        370.77            4,09,254      NaN
16     368.50      366.90        368.96              87,132      NaN
17     366.50      367.30        366.13            5,18,434      NaN
18     379.00      378.25        379.70           16,15,038      NaN
19     364.00      362.05        365.89            9,79,845      NaN
20     370.00      369.90        382.83           45,94,745      NaN

   No.ofTrades ï»¿"Symbol"        Turnoverâ¹
7       26,258         JWL    62,19,51,585.35
8       19,831         JWL    35,54,89,926.95
9       18,249         JWL    23,67,91,565.10
10      14,493         JWL    21,10,27,479.35
11      21,511         JWL    44,42,79,909.50
12      14,279         JWL    20,44,33,572.65
13      21,324         JWL    24,89,99,280.85
14      24,835         JWL    44,62,20,982.50
15      10,362         JWL    15,17,40,074.45
16       2,724         JWL     3,21,48,137.50
17      16,705         JWL    18,98,12,528.05
18      31,494         JWL    61,32,30,026.95
19      25,152         JWL    35,85,13,333.35
20      68,718         JWL  1,75,90,21,618.85
   Symbol Series         Date  PrevClose  OpenPrice  HighPrice  LowPrice  \
7     NaN     EQ  20-Feb-2024      42.90      44.80      45.00     42.00
8     NaN     EQ  21-Feb-2024      42.85      43.50      44.20     42.10
9     NaN     EQ  22-Feb-2024      43.25      44.80      44.80     42.30
10    NaN     EQ  23-Feb-2024      42.70      42.95      42.95     41.90
11    NaN     EQ  26-Feb-2024      42.05      42.05      43.15     40.50
12    NaN     EQ  27-Feb-2024      41.05      41.05      42.00     41.00
13    NaN     EQ  28-Feb-2024      41.15      39.25      41.40     37.55
14    NaN     EQ  29-Feb-2024      38.80      38.55      39.80     37.80
15    NaN     EQ  01-Mar-2024      38.95      38.05      41.35     38.05
16    NaN     EQ  02-Mar-2024      39.85      40.85      41.50     39.50
17    NaN     EQ  04-Mar-2024      40.35      40.00      41.35     39.05
18    NaN     EQ  05-Mar-2024      39.25      40.85      40.85     36.80
19    NaN     EQ  06-Mar-2024      38.15      39.95      41.95     36.80
20    NaN     EQ  07-Mar-2024      40.85      43.80      44.90     42.40

    LastPrice  ClosePrice  AveragePrice TotalTradedQuantity Turnover  \
7       43.00       42.85         43.27              24,545      NaN
8       43.90       43.25         43.43              12,612      NaN
9       43.00       42.70         43.61              19,817      NaN
10      42.00       42.05         42.23              10,294      NaN
11      40.60       41.05         41.10              13,861      NaN
12      41.30       41.15         41.40               9,329      NaN
13      38.50       38.80         39.80              20,865      NaN
14      39.35       38.95         38.83              14,263      NaN
15      41.00       39.85         40.32              13,705      NaN
16      40.80       40.35         40.56               1,843      NaN
17      39.25       39.25         39.98              19,275      NaN
18      38.50       38.15         38.23              17,550      NaN
19      41.95       40.85         38.44            2,37,734      NaN
20      44.90       44.90         44.71            1,94,250      NaN

   No.ofTrades ï»¿"Symbol"   Turnoverâ¹
7          229       LEXUS  10,62,065.00
8          150       LEXUS   5,47,688.90
9          171       LEXUS   8,64,308.55
10          83       LEXUS   4,34,667.45
11         195       LEXUS   5,69,656.80
12         149       LEXUS   3,86,209.00
13         295       LEXUS   8,30,343.15
14         202       LEXUS   5,53,771.10
15         286       LEXUS   5,52,577.65
16          32       LEXUS     74,750.65
17         287       LEXUS   7,70,557.05
18         253       LEXUS   6,70,916.20
19         478       LEXUS  91,39,270.10
20         726       LEXUS  86,85,778.75
   Symbol Series         Date  PrevClose  OpenPrice  HighPrice  LowPrice  \
7     NaN     SM  20-Feb-2024     125.10     127.80     127.80    124.40
8     NaN     SM  21-Feb-2024     124.90     124.55     127.75    119.15
9     NaN     SM  22-Feb-2024     119.45     123.00     131.35    120.40
10    NaN     SM  23-Feb-2024     131.35     140.95     141.00    128.10
11    NaN     SM  26-Feb-2024     128.95     129.50     141.80    129.50
12    NaN     SM  27-Feb-2024     141.80     143.70     143.95    131.10
13    NaN     SM  28-Feb-2024     132.40     133.90     133.90    126.00
14    NaN     SM  29-Feb-2024     129.50     134.00     142.45    131.10
15    NaN     SM  01-Mar-2024     137.55     141.90     151.30    138.25
16    NaN     SM  02-Mar-2024     151.30     158.85     158.85    158.85
17    NaN     SM  04-Mar-2024     158.85     171.00     172.40    159.00
18    NaN     SM  05-Mar-2024     163.35     164.95     165.00    151.05
19    NaN     SM  06-Mar-2024     155.00     154.00     170.50    145.00
20    NaN     SM  07-Mar-2024     159.00     168.80     168.80    157.00

    LastPrice  ClosePrice  AveragePrice TotalTradedQuantity Turnover  \
7      124.55      124.90        125.26              65,600      NaN
8      120.05      119.45        123.03              32,000      NaN
9      131.35      131.35        124.84            3,08,800      NaN
10     129.50      128.95        135.99            2,35,200      NaN
11     141.80      141.80        140.95            4,14,400      NaN
12     133.30      132.40        136.57              91,200      NaN
13     129.50      129.50        128.34              27,200      NaN
14     138.00      137.55        135.88            3,31,200      NaN
15     151.30      151.30        150.55            7,77,600      NaN
16     158.85      158.85        158.85              22,400      NaN
17     164.90      163.35        167.43            4,25,600      NaN
18     153.50      155.00        156.66              91,200      NaN
19     161.50      159.00        161.67            2,62,400      NaN
20     160.00      160.00        162.74              81,600      NaN

   No.ofTrades ï»¿"Symbol"      Turnoverâ¹
7           35         MOS     82,17,120.00
8           19         MOS     39,36,960.00
9          164         MOS   3,85,51,440.00
10         138         MOS   3,19,86,000.00
11         138         MOS   5,84,09,680.00
12          57         MOS   1,24,55,280.00
13          17         MOS     34,90,960.00
14         107         MOS   4,50,04,800.00
15         287         MOS  11,70,68,320.00
16          14         MOS     35,58,240.00
17         249         MOS   7,12,56,400.00
18          57         MOS   1,42,87,120.00
19         159         MOS   4,24,22,400.00
20          51         MOS   1,32,79,760.00
   Symbol Series         Date  PrevClose  OpenPrice  HighPrice  LowPrice  \
6     NaN     SM  19-Feb-2024      52.95      52.95      54.60     52.00
7     NaN     SM  20-Feb-2024      52.05      52.05      62.45     51.20
8     NaN     SM  21-Feb-2024      62.45      66.95      69.30     61.00
9     NaN     SM  22-Feb-2024      61.30      61.30      62.45     57.55
10    NaN     SM  23-Feb-2024      60.30      60.30      61.00     58.00
11    NaN     SM  26-Feb-2024      58.65      57.75      58.90     56.20
12    NaN     SM  27-Feb-2024      58.65      58.00      58.65     57.90
13    NaN     SM  28-Feb-2024      58.20      57.00      57.90     52.20
14    NaN     SM  29-Feb-2024      53.00      54.75      54.75     51.70
15    NaN     SM  01-Mar-2024      52.75      54.85      57.60     54.25
16    NaN     SM  04-Mar-2024      55.85      54.50      54.50     53.10
17    NaN     SM  05-Mar-2024      54.00      53.10      54.00     53.10
18    NaN     SM  06-Mar-2024      53.10      52.90      52.90     49.00
19    NaN     SM  07-Mar-2024      50.15      52.85      52.85     51.10

    LastPrice  ClosePrice  AveragePrice TotalTradedQuantity Turnover  \
6       52.00       52.05         52.95              96,000      NaN
7       62.45       62.45         59.16            7,16,000      NaN
8       62.00       61.30         66.01            4,10,000      NaN
9       60.25       60.30         59.78            1,20,000      NaN
10      58.00       58.65         59.62              84,000      NaN
11      58.70       58.65         57.88              56,000      NaN
12      58.15       58.20         58.28              24,000      NaN
13      52.60       53.00         53.76            1,02,000      NaN
14      52.75       52.75         52.88              44,000      NaN
15      56.00       55.85         55.64              66,000      NaN
16      54.00       54.00         53.94              32,000      NaN
17      53.10       53.10         53.40              18,000      NaN
18      50.50       50.15         50.41              60,000      NaN
19      51.20       51.60         51.73              32,000      NaN

   No.ofTrades ï»¿"Symbol"     Turnoverâ¹
6           44   PRECISION    50,83,000.00
7          303   PRECISION  4,23,55,200.00
8          195   PRECISION  2,70,65,400.00
9           57   PRECISION    71,73,700.00
10          38   PRECISION    50,08,400.00
11          28   PRECISION    32,41,000.00
12          12   PRECISION    13,98,700.00
13          50   PRECISION    54,84,000.00
14          22   PRECISION    23,26,900.00
15          33   PRECISION    36,72,100.00
16          16   PRECISION    17,26,200.00
17           9   PRECISION     9,61,200.00
18          28   PRECISION    30,24,300.00
19          14   PRECISION    16,55,200.00
   Symbol Series         Date  PrevClose  OpenPrice  HighPrice  LowPrice  \
7     NaN     EQ  20-Feb-2024     516.20     516.20     524.70    509.40
8     NaN     EQ  21-Feb-2024     511.30     514.95     524.70    512.00
9     NaN     EQ  22-Feb-2024     517.30     517.30     524.00    506.30
10    NaN     EQ  23-Feb-2024     510.30     510.30     528.35    510.30
11    NaN     EQ  26-Feb-2024     525.20     525.90     540.00    518.00
12    NaN     EQ  27-Feb-2024     522.65     523.35     534.00    523.35
13    NaN     EQ  28-Feb-2024     525.20     526.75     529.30    508.00
14    NaN     EQ  29-Feb-2024     511.25     507.00     537.85    494.10
15    NaN     EQ  01-Mar-2024     524.35     536.00     542.65    531.65
16    NaN     EQ  02-Mar-2024     536.15     539.90     543.00    536.15
17    NaN     EQ  04-Mar-2024     542.25     547.20     548.60    533.00
18    NaN     EQ  05-Mar-2024     535.75     538.95     538.95    523.10
19    NaN     EQ  06-Mar-2024     529.45     524.00     531.65    515.00
20    NaN     EQ  07-Mar-2024     519.80     569.95     569.95    522.50

    LastPrice  ClosePrice  AveragePrice TotalTradedQuantity Turnover  \
7      513.00      511.30        516.82            3,79,198      NaN
8      518.00      517.30        517.72            8,59,916      NaN
9      510.50      510.30        513.80            3,84,353      NaN
10     524.50      525.20        522.62            5,78,940      NaN
11     519.65      522.65        532.52            8,35,423      NaN
12     525.05      525.20        529.31            3,92,163      NaN
13     512.00      511.25        513.74            8,40,857      NaN
14     536.80      524.35        508.28           10,99,642      NaN
15     536.95      536.15        537.84            4,17,262      NaN
16     542.30      542.25        541.04              46,600      NaN
17     535.50      535.75        538.67            2,50,824      NaN
18     534.00      529.45        527.97            2,58,157      NaN
19     520.00      519.80        520.08            4,26,928      NaN
20     525.10      525.55        539.01           29,14,296      NaN

   No.ofTrades ï»¿"Symbol"        Turnoverâ¹
7       18,808       SYRMA    19,59,76,909.75
8       18,634       SYRMA    44,51,97,552.10
9       27,957       SYRMA    19,74,79,535.75
10      32,660       SYRMA    30,25,66,086.20
11      42,450       SYRMA    44,48,81,386.35
12      17,064       SYRMA    20,75,76,804.20
13      23,684       SYRMA    43,19,80,649.40
14      49,151       SYRMA    55,89,31,016.40
15      21,887       SYRMA    22,44,21,449.55
16       2,068       SYRMA     2,52,12,463.00
17      17,426       SYRMA    13,51,10,909.90
18      17,696       SYRMA    13,62,99,612.45
19      24,995       SYRMA    22,20,36,097.35
20      97,244       SYRMA  1,57,08,20,540.25
   Symbol Series         Date  PrevClose  OpenPrice  HighPrice  LowPrice  \
7     NaN     SM  20-Feb-2024      81.60      83.00      87.80     83.00
8     NaN     SM  21-Feb-2024      84.80      88.60      88.90     83.30
9     NaN     SM  22-Feb-2024      83.50      84.70      84.70     81.40
10    NaN     SM  23-Feb-2024      82.20      81.70      84.65     81.55
11    NaN     SM  26-Feb-2024      83.20      83.50      83.50     81.30

'data_T=capital_market.price_volume_data(list_comn[1],period=\'1M\').tail(14)\ndata_T=data_T[\'TotalTradedQuantity\'].astype(\'string\')\nfor i in range(len(data_T)):\n  data_T.iloc[i]=data_T.iloc[i].replace(",","")\ndata_T=data_T.astype(int)\ndata_T.mean(skipna=True).astype(int)'

In [ ]:
#print(len(data_PC1))
#print(len(data2O))
data_VOL1=[]
Hi_Max1=[]
Hi_Min1=[]
Hi_Ave1=[]
Lo_Max1=[]
Lo_Min1=[]
Lo_Ave1=[]
for i in range(len(list_N)):
  data_T=capital_market.price_volume_data(list_N[i],period='1M').tail(14)
  print(data_T)
  #-------------------------------------------------
  data_Tr=data_T[:-1]
  data_Tr= data_Tr.tail(7)
  Hi_Max=data_Tr['HighPrice'].max()
  Hi_Min=data_Tr['HighPrice'].min()
  '''for k in range(len(data_Tr['HighPrice'])):
    data_Tr['HighPrice'].iloc[k]=data_Tr['HighPrice'].iloc[k].replace(",","")'''
  data_Tr['HighPrice']=data_Tr['HighPrice'].astype('string')
  data_Tr['HighPrice']=data_Tr['HighPrice'].astype(float)
  Hi_Ave=data_Tr['HighPrice'].mean().astype(int)
  #Hi_Ave=data_Tr['HighPrice'].mean()

  Lo_Max=data_Tr['LowPrice'].max()
  Lo_Min=data_Tr['LowPrice'].min()
  for l in range(len(data_Tr['LowPrice'])):
    data_Tr['LowPrice'].iloc[l]=data_Tr['LowPrice'].iloc[l].replace(",","")
  #print(data_Tr['HighPrice'])
  data_Tr['LowPrice']=data_Tr['LowPrice'].astype('string')
  data_Tr['LowPrice']=data_Tr['LowPrice'].astype(float)
  Lo_Ave=data_Tr['LowPrice'].mean().astype(int)

 #Lo_Ave=data_Tr['LowPrice'].mean()

  data_T=data_T['TotalTradedQuantity'].astype('string')
  for j in range(len(data_T)):
    data_T.iloc[j]=data_T.iloc[j].replace(",","")
  #-------------------------------------------------
  data_T=data_T['TotalTradedQuantity'].astype('string')
  for j in range(len(data_T)):
    data_T.iloc[j]=data_T.iloc[j].replace(",","")
  data_T=data_T.astype(int)
  data_T = data_T[:-1]
  #print(data_T)
  data_T1=data_T.mean(skipna=True).astype(int)
  data_VOL1.append(data_T1)
  Hi_Max1.append(Hi_Max)
  #Hi_Ave1.append(Hi_Ave)
  Hi_Min1.append(Hi_Min)
  Lo_Max1.append(Lo_Max)
  #Lo_Ave1.append(Lo_Ave)
  Lo_Min1.append(Lo_Min)
data_VOL['Ave_QNTY']= data_VOL1
data_VOL['Hi_Max']= Hi_Max1
#data_VOL['Hi_Ave']= Hi_Ave1
data_VOL['Hi_Min']= Hi_Min1
data_VOL['Lo_Max']= Lo_Max1
#data_VOL['Lo_Ave']= Lo_Ave1
data_VOL['Lo_Min']= Lo_Min1
#data_VOL
#list_comn[1]

"""data_T=capital_market.price_volume_data(list_comn[1],period='1M').tail(14)
data_T=data_T['TotalTradedQuantity'].astype('string')
for i in range(len(data_T)):
  data_T.iloc[i]=data_T.iloc[i].replace(",","")
data_T=data_T.astype(int)
data_T.mean(skipna=True).astype(int)"""

In [72]:
"""PC1=data2O.loc[data2O['SYMBOL']==listO_SYM[0],'TTL_TRD_QNTY']
data_PC1.loc[data_PC1['SYMBOL']==listO_SYM[0],'TTL_TRD_QNTY']= int(PC1)
PC1=data2O.loc[data2O['SYMBOL']==listO_SYM[0],'DELIV_PER']
data_PC1.loc[data_PC1['SYMBOL']==listO_SYM[0],'DELIV_PER']= float(PC1)
#data2O.loc[data2O['SYMBOL']==listO_SYM[0],'TTL_TRD_QNTY']
#data_PC1['TTL_TRD_QNTY'].astype('Int64')
#PC1"""
#data_Tr['HighPrice']=data_Tr['HighPrice'].astype('string')
#data_Tr['HighPrice']=data_Tr['HighPrice'].astype(float)
#data_Tr.dtypes
list_N
data_VOL
L=[]
#data_Tr['HighPrice'].mean()
L=data_Tr['HighPrice'].to_list()
print(L)
#data_Tr['HighPrice'].iloc[0]+ data_Tr['HighPrice'].iloc[1]
np.array(L)
data_VOL

[158.95, 158.1, 155.5, 154.7, 153.35, 152.95, 146.0]

,SYMBOL,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,CLOSE_PRICE,PREV_CLOSE,GAP_UP,TTL_TRD_QNTY,DELIV_PER,GAP_down,INT_Hike,Ave_QNTY,Hi_Max,Hi_Min,Lo_Max,Lo_Min
522,DATAPATTNS,2797.70,2797.70,2665.00,2698.10,2634.40,6.20,410898,32.49,4.74,0.00,1095657,"3,080.00","2,547.75","2,799.00","2,405.00"
817,GPTINFRA,188.00,188.00,176.50,178.45,172.75,8.83,324877,48.03,6.12,0.00,117376,208.05,186.0,197.55,157.0
1208,JWL,398.00,398.00,368.00,369.90,362.05,9.93,979845,57.34,7.54,0.00,839739,385.0,371.95,365.8,348.1
1340,LEXUS,43.80,44.90,42.40,44.90,40.85,7.22,237734,92.59,5.57,2.51,31976,41.95,39.8,39.5,36.8
1536,MOS,168.80,168.80,157.00,160.00,159.00,6.16,262400,58.54,6.99,0.00,237292,172.4,133.9,159.0,126.0
1823,PRECISION,52.85,52.85,51.10,51.60,50.15,5.38,60000,83.33,3.31,0.00,140615,58.65,52.9,57.9,49.0
2329,SYRMA,569.95,569.95,522.50,525.55,519.80,9.65,426928,55.66,8.33,0.00,520789,548.6,529.3,536.15,494.1
2425,TRANSTEEL,74.00,74.00,68.00,72.65,70.15,5.49,216000,83.33,8.11,0.00,100461,80.95,73.75,77.45,69.0
2521,VENUSREM,345.80,345.80,330.55,334.20,327.60,5.56,121999,42.23,4.41,0.00,94897,358.0,344.45,342.0,324.4
2596,WSI,146.95,167.85,141.05,150.50,139.90,5.04,349866,64.34,15.97,14.22,167309,158.95,146.0,149.05,137.2